@charset  "UTF-8";

@-ms-viewport {width: device-width;}

@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

/* Noto Sans Japanese (japanese)
http://www.google.com/fonts/earlyaccess */

body {
	color: #202020;
	font-family: 'Helvetica Neue','Roboto','Noto Sans Japanese','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'Hiragino Kaku Gothic Pro','ＭＳ Ｐゴシック',sans-serif;
	font-size: 1rem;
	font-weight: 300;
	-webkit-font-smoothing: subpixel–antialiased;
	-webkit-text-size-adjust: none;
	text-rendering: optimizeLegibility;
	margin: 0;
	padding: 0;
	text-align: center;
	/*max-width: 768px;*/
	min-width: 416px;
	/* for IF6 */
	_font-family: "ＭＳ Ｐゴシック","MS PGothic",Sans-Serif;
}

a { text-decoration: none; }
a:link { color: #202020; }
a:visited { color: #202020; }
a:hover { color: #202020; }
a:active { color: #202020; }


.container{
	display: inline-block;
	vertical-align: middle;
	text-align: left;
}

.globalheader {
	margin: 0 0 0 0;
	position: fixed;
	top: 0px;                   /* 位置(上0px) */
    left: 0px;                  /* 位置(右0px) */
    width: 100%;                /* 横幅100%　*/
    height: 50px;              /* 縦幅140px */
    
	background: white;
	text-align: left;
	vertical-align: text-bottom;
	    z-index: 100;
}

.globalheader-box {
	margin: 15px;
}
.globalheader-left a{
	color: #0;
	font-weight: 900;
}

#video {
    position: relative;
    top: 0;
    left: 0;
    right: 0; bottom: 0;
    
    width: 100%;
    height: auto;
    z-index: -100;
    min-width: 10%;
    min-height: 10%;
}

.video-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: rgba(0,0,0,.2);
}

.header {
	height: 950px;
    position: relative;
    overflow: hidden;
    text-align: center;
}


.header_content {
	position: relative;
	margin: 240px 0 30px 0px;
    z-index: 100;
    text-align: center;
}

.header img{
	width: 1100px;
	margin-left: -200px;
	height: auto;
	z-index: -100;
	text-align: center;
	
}

.header_content_text{
    text-align: center;
    margin-left:auto;
    margin-right:;
	
}

.header h1 {
	margin: 0% 0% 0% 0%;
	font-size: 5rem;
}

.header h2 {
	margin: 0% 0% 0% 0%;
	font-size: 1.4rem;
	font-weight: 300;
}

.section_header h1 {
	margin: 300px 0% 0% 0%;
	font-size: 1.5rem;
	font-weight: 300;
	text-align: center;
}

.section_header p {
	text-align: center;
}

.section_intro{
	height: 700px;
	background-color: #202020;
	color: white;
}

.section_app{
	height: 700px;
}

p {
	margin: 30px 2px; 
	text-align: center;
	line-height: 1.5rem;
}

.footer_section {
	margin: 100px 0 100px 0;
}

.footer_section p{
	margin: 0 0 0 0;
}

.section_member{
	height: 700px;
	background-color: #202020;
	color: white;
}

table {
	margin: 2% 0 0 0;
	line-height: 1.5rem;
}

.image {
	margin: 0 0 0 0;
	text-align:center;
    margin-left:auto;
    margin-right:auto;
}

@media screen and (max-width: 768px) {
	.br-in {
	display:none;
	}
	
	.twocol-left {
	margin:0;
	padding:0;
	float:none;
	text-align: center;
	width:100%;
	}
	
	.twocol-right {
	margin-left: auto;
	margin-right: auto;
	float:none;
	text-align: center;
	width:100%;
	}

}

@media screen and (min-width: 768px) {
	.br-sp {
	display:none;
	}
	
	.twocol {
	margin: 0% 0% 5% 0%;
	}
	
	.twocol:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
	}
	
	.twocol-left {
	margin:0;
	padding:0;
	float:left;
	text-align: justify;
	text-justify: inter-ideograph;
	width:48%;
	}
	
	.twocol-right {
	margin:0;
	padding:0;
	float:left;
	margin-left: 4%;
	text-align: center;
	width:48%;
	}

}
